body {
  margin: 0;
  background-color: #fafafa;
  color: #ffffff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}

a {
  color: #f00000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

button,
input,
select {
  pointer-events: auto;
}

.lil-gui {
  z-index: 2 !important;
}

@media all and (max-width: 640px) {
  .lil-gui.root {
    right: auto;
    top: auto;
    max-height: 50%;
    max-width: 80%;
    bottom: 0;
    left: 0;
  }
}

#overlay {
  position: absolute;
  font-size: 16px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}

#overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 18px;
  text-transform: uppercase;
  cursor: pointer;
}

#notSupported {
  width: 50%;
  margin: auto;
  background-color: #f00000;
  margin-top: 20px;
  padding: 10px;
}
#ARButton {
  display: none;
}

/* Основные стили для pop-up */
.popup {
  display: none;
  /* Скрываем pop-up по умолчанию */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  z-index: 98;
  text-align: center;
}

.info-panel {
  display: none;
  /* Скрываем pop-up по умолчанию */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  max-width: 400px;
  padding: 20px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 98;
  text-align: center;
}
.text-block {
  line-height: 1.5;
  color: black;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.buttonReady {
  display: none;
  width: 80%;
  padding: 10px;
  background-color: #ff5e00;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.info-image {
  max-height: 60%;
  width: auto;
  margin: 20px 0;
}

/* Стили для полей ввода */
.popup input[type="number"] {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}

/* Стили для блока с текстом */
.popup .text-block {
  margin: 10px 0;
  color: black;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Стили для кнопки */
.popup .buttonOpen {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ff5e00;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#openPopup {
  position: fixed;
  top: 1%;
  left: 1%;
}

/* Стили для затемнения фона */
.overlays {
  display: none;
  /* Скрываем overlay по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 97;
}

