/* @import "/fonts/sloth/SLOTH BOLD.ttf"; */

@font-face {
    font-family: "sloth-bold";
    src:
        local("sloth-bold"),
        url("/fonts/sloth/SLOTH_BOLD.ttf") format("truetype");
}

@font-face {
    font-family: "sloth-semibold";
    src:
        local("sloth-bold"),
        url("/fonts/sloth/Sloth-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "sloth-regular";
    src:
        local("sloth-regular"),
        url("/fonts/sloth/Sloth-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "onest-medium";
    src:
        local("onest-medium"),
        url("/fonts/onest/OnestMedium1602-hint.ttf") format("truetype");
}

@font-face {
    font-family: "onest-regular";
    src:
        local("onest-regular"),
        url("/fonts/onest/OnestRegular1602-hint.ttf") format("truetype");
}

@font-face {
    font-family: "onest-bold";
    src:
        local("onest-bold"),
        url("/fonts/onest/OnestBold1602-hint.ttf") format("truetype");
}

:root {
    --md: 640px;
    --lg: 101.5rem;
    --xl: 1280px;

    font-family: "onest-regular";
}

.h1-90-600 {
    font-family: "sloth-semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 5.625rem;
    line-height: 6.975rem;

    letter-spacing: -0.02em;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .h1-90-600 {
        font-size: 4.625rem;
        line-height: 5.975rem;
    }
}

@media screen and (max-width: 640px) {
    .h1-90-600 {
        font-size: 3.625rem;
        line-height: 4.975rem;
    }
}

.h2-34-700 {
    font-family: "sloth-regular";
    font-style: normal;
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.563rem;
}

.t24-700 {
    font-family: "sloth-bold";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.813rem;
}

.manrope-regular-26 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 2.25rem;
}

.manrope-semibold-20 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.manrope-regular-16 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.medium-20 {
    font-family: "onest-medium";
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.bold-20 {
    font-family: "onest-bold";
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.regular-16 {
    font-family: "onest-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

@media screen and (max-width: 640px) {
    .regular-16 {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}

.medium-14 {
    font-family: "onest-medium";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.regular-14 {
    font-family: "onest-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
}

.light-12 {
    font-family: "onest-regular";
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 0.938rem;
    /* identical to box height */
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.poppuns-80 {
    font-family: "onest-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 5.5rem;
    line-height: 7.5rem;
}
