:root {
    --md: 640px;
    --lg: 101.5rem;
    --xl: 1280px;
}

.h1-90-600 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 5.625rem;
    line-height: 6.975rem;

    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.h1-70-500 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 4.375rem;
    line-height: 5.313rem;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.h2-34-700 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.563rem;
}

.t24-700 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.813rem;
}

.semibold-26 {
    /* 26_semibold */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 1.625rem;
    line-height: 1.938rem;
}

.bold-26 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.938rem;
}

.regular-24 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.813rem;
}

.medium-20 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.medium-16 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.188rem;
}

.regular-16 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.regular-14 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
}

.light-12 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 0.938rem;
    /* identical to box height */
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.poppuns-80 {
    font-family: "Poppins", "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 5.5rem;
    line-height: 7.5rem;
}
